<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel App</title>
    </head>
    <body>
        <div id = "app">
            <section class="banner">
                <h1>Travel Planning App</h1>
            </section>
            <main>
                <section class="planner" onsubmit="return Client.handleSubmit(event)">
                    <div id="planner-title">
                        <h3>Select your destination and dates</h3>
                    </div>
                  <form id="plan-create" class="form-plan">
                    <label for="location">City</label>
                    <input id="destination" name="location" type="text" placeholder="e.g. London" value="London" required="true">
    
                    <div class="dates">
                        <label for="departure">Departure Date:</label>
                        <input id="date-departure" name="departure" type="date" required="true">
    
                        <label for="return">Return Date:</label>
                        <input id="date-return" name="return" type="date" required="true">
                    </div>
    
                    <input type="submit" id="button-submit" name="" value="Submit">
                  </form>                  
                </section>

                <section>
                    <div id="msg" class="msg-info"></div>
                </section>
                <section>
                    <div id="error" class="error-info"></div>
                </section>
                    
                <section id="result-data" class="result-section"> 
                                               
                    <div id="trip-info">                        
                        <p id="result-departure"><b>Departing: </b><span id="departure"></span></p>
                        <p id="result-return"><b>Returning: </b><span id="return"></span></p>
                        <p id="result-days"><b>Departing in: </b><span id="days-out"></span> Days</p>
                        <p id="result-duration"><b>Duration: </b><span id="trip-duration"></span> Days</p>
                    </div>   
                    <div id="image-info">                       
                        <div id="pixabay-images">
                            <img alt="destination_image_1" id="pixabay1">
                        </div>
                    </div>         
                    <div id="city-info">                                                
                        <p id="result-city"><b>City: </b><span id="city"></span></p>
                        <p id="result-province"><b>State/Province: </b><span id="province"></span></p>
                        <p id="result-country"><b>Country: </b><span id="country"></span></p>
                    </div>
                    <div id="country-info">                        
                        <p id="result-capital"><b>Capital: </b><span id="capital"></span></p>
                        <p id="result-languages"><b>Language(s): </b><span id="languages"></span></p>
                        <p id="result-currency"><b>Currency: </b><span id="curr-name"></span> (<span id="curr-symbol"></span>)</p>
                        <p><b>Flag: </b><img id="result-flag" alt="national_flag"></p>
                    </div>         
                    <h4>Weather Information:</h4>                  
                    <div id="weather-info">                        
                        <p id="w-icon"><img id="weather-icon" alt="weather_icon" style="float:left"></p>
                        <p id="result-weather"><span id="weather-desc"></span></p>
                        <p id="result-weather-high"><b>Temp (High): </b><span id="high-temp"></span> &#176C</p>
                        <p id="result-weather-low"><b>Temp (Low): </b><span id="low-temp"></span> &#176C</p>
                        <p id="result-weather-humidity"><b>Humidity (%): </b><span id="humidity"></span> %</p>
                        <p id="result-weather-precipitation"><b>Precipitation (%): </b><span id="precipitation"></span> %</p>
                    </div>
                    <div id="travel-advisory-info">
                        <h4>Travel Advice:</h4>
                        <p id="result-advisory"></p>
                        <p id="result-advisory-info"></p>
                        <a id="result-advisory-link" href=""></a>
                    </div>                            
                    
                    <div class="print-reset">
                        <button id="print" href="#">Print</a>
                        <button id="reset" href="#">Reset</a>
                    </div>
                </div>                           
            </main>
        </div>
    </body>
    <footer class="footer"><b>Developed for Udacity by Sameer Mitra</b></footer>
</html>